<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">Netsis.Framework.Persister.Hibernate.Dialect.NMsSql2008Dialect, Netsis.Framework.Persister</property>
    <property name="connection.driver_class">Netsis.Framework.Persister.Hibernate.Driver.NSql2008Driver, Netsis.Framework.Persister</property>
    <property name="connection.connection_string">Data Source=localhost;Initial Catalog=NETSIS;Persist Security Info=True;User ID=sa;Password=sapass</property>
    <property name="show_sql">False</property>
    <property name="format_sql">False</property>
    <property name="adonet.batch_size">30</property>

  </session-factory>

  <!--<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">Netsis.Framework.Persister.Hibernate.Dialect.NOracle10gDialect, Netsis.Framework.Persister</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver,NHibernate</property>
      <property name="connection.connection_string">Data Source=Server;User ID=id;Password=pass</property>
      <property name="show_sql">True</property>
      <property name="format_sql">False</property>
      <property name="adonet.batch_size">30</property>

    </session-factory>
  </hibernate-configuration>-->
  
</hibernate-configuration>
